configuration {
    modi: "window,run,ssh";
    font: "Fira Code 12";
    fixed-num-lines: true;
    show-icons: true;
    terminal: "alacritty";
    ssh-client: "ssh";
    ssh-command: "{terminal} -e {ssh-client} {host} [-p {port}]";
    run-command: "{cmd}";
    sort: true;
    dpi: 1;
    max-history-size: 8;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
