configuration {
    modi: "window,run,ssh,combi,windowcd";
    width: 30;
    lines: 6;
    columns: 2;
    font: "Fira Code 10";
    bw: 1;
    location: 0;
    fixed-num-lines: true;
    terminal: "alacritty";
    ssh-client: "ssh";
    ssh-command: "{terminal} -e {ssh-client} {host} [-p {port}]";
    run-command: "{cmd}";
    hide-scrollbar: true;
}
@import "/usr/share/rofi/themes/solarized_alternate.rasi"
