1
.tmux/resurrect/
*.tdb
*-default-sink
*-default-source
softmixer
.dotfiles/dotfiles/.moc/last_directory
.dotfiles/dotfiles/.moc/cache/
.dotfiles/dotfiles/.moc/pid
.dotfiles/dotfiles/.moc/playlist.m3u
.dotfiles/dotfiles/.vim/plugged/*
*.swp
.moc/cache/*
.moc/last_directory
.moc/pid
.moc/playlist.m3u

.dotfiles/dotfiles/.tmux/plugins/*
!.dotfiles/dotfiles/.tmux/plugins/tmp
