1
*.tdb
*-default-sink
*-default-source

.dotfiles/dotfiles/.vim/plugged/*
*.swp
.moc/cache/*
.moc/last_directory
.moc/pid
.moc/playlist.m3u



.dotfiles/dotfiles/.tmux/plugins/*
!.dotfiles/dotfiles/.tmux/plugins/tmp
