! DPI SHIT 
Xft.dpi: 100

! URXVT
urxvt*font: xft:Monospace:pixelsize=12
urxvt*loginShell:         true
urxvt*scrollBar:         false
urxvt*saveLines:         65535
urxvt*cursorBlink:       false
urxvt*urgentOnBell:       true
urxvt*scrollTtyKeypress: True
urxvt*secondaryScroll: True
urxvt*background: #5b166b
urxvt*foreground: #ffffff
urxvt*urlLauncher: firefox

! Fake Transparency 
! urxvt*depth: 32 
! urxvt*background: rgba:0000/0000/0200/c800
! urxvt*transparent: true
! urxvt*shading: 30
