configuration {
modi: "window,run,ssh,combi,windowcd";
width: 40;
lines: 5;
columns: 1;
font: "mono 11";
bw: 1;
location: 0;
fixed-num-lines: true;
terminal: "urxvt";
ssh-client: "ssh";
ssh-command: "{terminal} -e {ssh-client} {host} [-p {port}]";
run-command: "{cmd}";
hide-scrollbar: true;
}
@import "/usr/share/rofi/themes/android_notification.rasi"
